<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>Main page</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
	<header>
		<div class="head">
			<div class="ico"><a href="#"><img src="icohead.png"></a></div>	
		</div>
	</header>

	<div id="menuVertical">
		<ul>
			<li><a href="profile"><div class="img_n"><img src="../static/earth.png"></div><span>Profile</span></a></li>
			<li><a href="#2"><div class="img_n"><img src="../static/stat.png"></div><span>News</span></a></li>
			<li><a href="#3"><div class="img_n"><img src="../static/prof.png"></div><span>Schedule</span></a></li>
			<li><a href="#4"><div class="img_n"><img src="../static/zak.png"></div><span>Attendance</span></a></li>
			<li><a href="#5"><div class="img_n"><img src="../static/door.png"></div><span>Consultations</span></a></li>
			<li><a href="#6"><div class="img_n"><img src="../static/door.png"></div><span>Notifications</span></a></li>
			<li><a href="#7"><div class="img_n"><img src="../static/door.png"></div><span>FAQ</span></a></li>
		</ul>
	</div>
	<div class="menu"></div>
	
    <div id="wrap">
        <div id='main-block'>
            <div class="post">
                <div class="main-block-caption">
На следующей неделе во многих странах влюблённые празднуют День Святого Валентина, но этот праздник является днём любви во всех её проявлениях.Поэтому мы решили устроить целую НЕДЕЛЮ тёплых слов и доброты и запустить специальную почту, где каждый желающий может написать приятные слова: признания, пожелания, комплименты, просто выразить свое хорошее отношение или сказать спасибо преподавателю. Для этого опустите импровизированное письмо-валентинку в специальный "ящик доброты" на втором этаже 3 корпуса между аудиториями 3209 и 3210. Ваше послание, возможно, поднимет кому-то настроение, заставит улыбнуться и почувствовать себя особенным! Поделитесь своим теплом с друзьями!  

 Пожалуйста, не забудьте указать имя, фамилию и НОМЕР ГРУППЫ (по возможности английской) адресата! 
Kindness Box находится на втором этаже между аудиториями 3209-3210. 

</div>
                <div class="main-block-pic">
                    <img  src="1.jpg">
                </div>
            </div>
            
            <div class="post">
                <div class="main-block-caption">
30 января состоялся первый открытый урок по испанскому языку 

Наша преподаватель Дарья рассказала о культовых достопримечательностях, истории и интересных фактах испаноговорящих стран.
А к концу урока наши гости уже могли рассказать о себе на испанском языке!

Благодарим всех участников!

</div>
                <div class="main-block-pic">
                    <img  src="2.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>